body {
    background: black;
}

h1 {
    text-align: center; /*met ton texte au centre de la page MARCHE QU'AVEC LES TEXTES*/
    position: relative;
    top: 20px; /*va être à 20 pixels du haut*/
    color: white; /*tu met la couleur que tu veux sauf du noir ou du trop foncé*/
} 
